<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>
        <%= link_to "タスク名", tasks_path(sort_column: 'title', sort_direction: @sort_column == 'title' && @sort_direction == 'desc' ? 'asc' : 'desc') %>
        <%= sort_icon('title') %>
      </th>
      <th>
        <%= link_to "済/未済 ", tasks_path(sort_column: 'finished', sort_direction: @sort_column == 'finished' && @sort_direction == 'desc' ? 'asc' : 'desc') %>
        <%= sort_icon('finished') %>
      </th>
      <th></th>
      <th>
        <%= link_to "作成日時", tasks_path(sort_column: 'created_at', sort_direction: @sort_column == 'created_at' && @sort_direction == 'desc' ? 'asc' : 'desc') %>
        <%= sort_icon('created_at') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= form_with model: task, url: task_path(task), method: :patch, data: { turbo: false } do |f| %>
            <%= f.check_box :finished, onchange: 'this.form.submit();' %>
            <%= f.hidden_field :user_id, value: @current_user.id %>
          <% end %>
        </td>
        <td><%= task.title %></td>
        <td><%= task.finished ? '済' : '未済' %></td>
        <td>
          <%= link_to "編集", edit_task_path(task), class: "btn btn-primary mr-2" %>
          <%= link_to "削除", task_path(task), data: { turbo_method: :delete, confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
        </td>
        <td><%= task.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "タスク追加", new_task_path, class: "btn btn-success mb-4" %>
<%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "btn btn-secondary" %>
