<h2>新規タスク作成</h2>

<%= form_with(model: @task, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <%= f.hidden_field :user_id, value: @current_user.id %>
  <%= render 'shared/errors', object: f.object %>
  <%= f.submit '保存', class: 'btn btn-primary' %>
<% end %>

<%= link_to '戻る', tasks_path, class: 'btn btn-secondary' %>
